.loginBlock {
  display: flex;
  flex-direction: column;
}
.loginButton {
  background-color: skyblue;
  color: white;
  margin-top: 5px;
  outline: none;
  padding: 10px;
  border: 1px solid skyblue;
}
.inpFields {
  margin-top: 5px;
  outline: none;
  padding: 10px;
}
